*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
main {
  display: flex;
  gap: 20px;
  margin-bottom: 45px;
}

.container {
  width: 1000px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}

.header-links ul li {
  display: inline-block;
}
a:hover,
a:focus {
  color: rgb(20, 20, 182);
}
.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu button {
  background-color: #000080;
  color: #fff;
  padding: 5px 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  width: 20%;
  font-size: 16px;
}
.line {
  width: 100%;
  height: 25px;
  background-color: #483d8b;
}

.header-menu {
  display: flex;
  margin-top: 15px;
  gap: 2px;
}
header {
  margin-bottom: 15px;
}
/* Welcom, News section */
.side-bare {
  width: 26%;
}

.main-info {
  width: 80%;
}
.section-title {
  background-color: rgb(198, 192, 192);
  padding: 5px 8px;
}
.welcom,
.news {
  border: 1px solid black;
}
.section-info {
  padding-left: 8px;
  padding-top: 8px;
  background-color: rgb(223, 219, 219);
}
.welcom button {
  padding: 5px 8px;
  border: 2px solid rgb(65, 59, 59);
  background-color: rgb(198, 192, 192);
  border-radius: 5px;
  margin: 5px 0 16px 16px;
}
.news .section-title {
  display: flex;
  justify-content: space-between;
}
/* main-info section */
.sign-up-link,
.send-money-section h1,
h4 {
  text-align: center;
}
.send-money-section h1 {
  font-size: 36px;
  color: #000080;
}
.send-money {
  display: flex;
  gap: 12px;
  margin-top: 35px;
}
.send-money-list {
  width: 70%;
}
.send-money-list li {
  margin-bottom: 10px;
}

.send-money-list a {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.sign-up-picture {
  width: 45%;
}
.sign-up-picture h3 {
  background-color: #000080;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 20px 27px;
  font-size: 30px;
  font-style: italic;
}
.send-money-section h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.send-money-list p {
  font-size: 20px;
}
.sign-up-link {
  padding: 5px 10px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 182);
  border: 2px solid rgb(202, 202, 14);
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold;
}
.spotlight-section h2 {
  background-color: rgb(223, 219, 219);
  margin-bottom: 15px;
}

.potlight-card {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.potlight-title {
  font-size: 20px;
  font-weight: bold;
}

.potlight-card img {
  width: 60px;
}
.potlight-card p {
  font-size: 20px;
}
footer li {
  display: inline-block;
}
.footer-pictures {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-top: 15px;
}
footer {
  text-align: center;
}

footer ul {
  margin-bottom: 15px;
}
